body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
}
